# User/OS specific files
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini
$RECYCLE.BIN/

# Environment Files
.vagrant
Vagrantfile

# Temporary files
writable/cache/*
!writable/cache/index.html

writable/logs/*
!writable/logs/index.html

writable/session/*
!writable/session/index.html

writable/uploads/*
!writable/uploads/index.html

writable/debugbar/*
!writable/debugbar/.gitkeep

php_errors.log

# User Guide Temp Files
user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

# Test Files
tests/coverage*

# Composer
vendor/

# IDE / Development Files
_modules/
.php-version
.idea/
*.iml
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/
.tmLanguage.cache
.tmPreferences.cache
.stTheme.cache
.sublime-workspace
.sublime-project
.phpintel
/api/
.vscode/
/results/
/phpunit*.xml
/.phpunit.*.cache
